  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unity Hospital | Blog</title>
	
	<!-- Web Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
 
	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="plugins/line-icons-pro/styles.css">
	<link rel="stylesheet" href="plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	 
	 <!-- CSS Page Style -->
  	<link rel="stylesheet" href="css/blog_timeline.css">


	<!-- CSS Customization -->
	<link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {{!-- <link rel="stylesheet" href="css/style.css"> --}}
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/social_style.css">
</head>
<body>
    <!-- Header -->
    <div class="wrapper">
        <div class="header-v1">
            <!-- Topbar -->
            <div class="topbar-v1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-inline top-v1-contacts">
                                <li><i class="fa fa-envelope"></i> Email: unityhospital@gmail.com</li>
                                <li><i class="fa fa-phone"></i> Contact no : 630 025 1986</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Topbar -->

            
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="img/logo/unity_white.jpg" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/doctors">DOCTORS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">GALLERY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">BLOGS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">CONTACT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registration">REGISTRATION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/appointment">BOOK APPOINTMENT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->


		<!-- Image title -->

		<div style="text-align: center; margin-top: 50px; margin-bottom: 40px;">
			<h2>BLOGS</h2>
		</div>
	<!-- End title  -->

		<!--=== Content Part ===-->
		<!-- BLOG 1 -->
    <div class="container content">
      <ul class="timeline-v1">
        <li>
          <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="img/blogs/1.jpg" alt=""/>
            </div>
            <div class="timeline-body text-justify">
              <h2 class="font-light"><a href="#">How to maintain bone and joint health during winters?</a></h2>
              <p>It is usually due to restricted absorption of Vitamin D (sunlight) in your body during winter or due to decreased blood flow to bones to increase body temperature or due to restricted mobility to conserve energy which allows accumulation of inflammatory markers or toxins in joints. This leads to stiffness and pain in joints. Ignoring problems related to bones and joints which can lead to further deterioration.</p>
              <p>These are few tips to keep your joints and muscles healthy during this winter :- </p>
              <p>1) A balanced diet is key to overall healthy living. Eat a diet which comprises of fruits, vegetables, cereals, dairy products and pulses.<br/>

			2) Eat foods rich in Vitamin K, D and C.<br/>
			3) Physical activity is also important. Exercising strengthens the muscles and maintains weight. <br/>
			4) Do not over eat and reduce weight.
			</p>
            </div>
            <div class="timeline-footer">
              <ul class="list-inline news-v1-info">
				<li><span style="margin-left: 120px;">By</span> <a href="#">Dr. Ramneek Mahajan</a></li>
				<li>|</li>
				<li><i class="fa fa-clock-o"></i> December 31, 2020</li>
               </ul>
            </div>
          </div>
        </li>
        <!-- end of blog 1 -->
        <!-- Blog 2 -->
        <li class="timeline-inverted">
          <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="img/blogs/2.jpg" alt=""/>
            </div>
            <div class="timeline-body text-justify">
              <h2 class="font-light"><a href="#">Robot Assisted Kidney Transplant in France</a></h2>
              <p>First robot assisted kidney transplant (RAKT) was performed in France in 2002. Since then, it is gradually gaining foothold in transplant arena. Majority of work is being done in India, Europe and few centres in USA. World wide experience has established its functional outcomes comparable to open transplant. The patient has got multiple benefits :- </p>

   		<p> 1) Lesser pain – early mobility, early recovery </p> <br/>
    	<p>	2) Less chance of wound infection – no adverse effect on graft  function </p> <br/>
    	<p> 3) Less blood loss, Minimal scars, improved cosmetic effects </p><br/>
        <p> Max Super Specialty Hospital, Saket, New Delhi is amongst the few centres across the world routinely doing RAKT.</p>
          </div>
            <div class="timeline-footer">
              <ul class="list-unstyled list-inline blog-info">
                <li><span style="margin-left: 120px;">By</span> <a href="#">Dr. Anant Kumar</a></li>
				<li>|</li>
				<li><i class="fa fa-clock-o"></i> December 31, 2020</li>
              </ul>
            </div>
          </div>
        </li>
        <!-- end of blog 2 -->
        <!-- Blog 3 -->
        <li>
          <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="img/blogs/3.jpg" alt=""/>
            </div>
            <div class="timeline-body text-justify">
              <h2 class="font-light"><a href="#">Body Weight - What you must know!</a></h2>
              <p> Q: Why is body weight so important to us? </p> 
			  <p> A: Bodyweight is a vital part of our physical and mental health.</p> <br/>

				<p>Q: What is an ideal body weight? </p> 
				<p>A: There is no single defined value for an ideal weight. The ideal weight for a person depends on their height and age. </p> <br/>

				<p>Q: Why is there a weight range? </p> 
				<p>A: Your weight depends upon a number of factors. These include your age, muscle mass fat mass, gender and body shape. </p>
            </div>
            <div class="timeline-footer">
              <ul class="list-unstyled list-inline blog-info">
                    <li><span style="margin-left: 120px;">By</span> <a href="#">Dr. Vandana Soni</a></li>
				<li>|</li>
				<li><i class="fa fa-clock-o"></i> December 31, 2020</li>
              </ul>
            </div>
          </div>
        </li>
        <!-- end of blog 3 -->

        <!-- Blog 4 -->
        <li class="timeline-inverted">
          <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="img/blogs/4.jpg" alt=""/>
            </div>
            <div class="timeline-body text-justify">
              <h2 class="font-light"><a href="#">IMPORTANCE OF SLEEP IN BRAIN HEALTH</a></h2>
              <p>Those mood swings are for real…. Your brain regulates the hormones and the neurotrasnmitters. These chemicals are basically responsible for the way you feel. Chemical compounds like dopamine, serotonin, oxytocin help us feeling good, happy and upbeat. Sleep plays an important role in their regulation. Lack of sleep can make you irritated, impulsive and angry. The moments when you over react and have an outburst are more likely to happen when you have not slept well.</p>

   			  <p> Lack of sleep makes you slow. Sleep deprivation slows down the brain’s ability to react quickly. Tired drivers and pilots tend to have more accidents and that is a well known fact. Sleep deprivation slows down the brain akin to getting drunk. Just like you should not be driving under the influence of alcohol the same applies to sleep deprivation.</p>
             
          </div>
            <div class="timeline-footer">
              <ul class="list-unstyled list-inline blog-info">
                <li><span style="margin-left: 120px;">By</span> <a href="#">Dr. Manish Baijal</a></li>
				<li>|</li>
				<li><i class="fa fa-clock-o"></i> December 31, 2020</li>
              </ul>
            </div>
          </div>
        </li>
        <!-- end of blog 4 -->

  </ul>
</div>

 <script>// JavaScript code for blog timeline functionality

document.addEventListener("DOMContentLoaded", function() {
    // Get all timeline panels
    var timelinePanels = document.querySelectorAll('.timeline-panel');

    // Add click event listener to each timeline panel
    timelinePanels.forEach(function(panel) {
        panel.addEventListener('click', function() {
            // Toggle class to expand/collapse timeline panel
            panel.classList.toggle('expanded');
        });
    });
});
</script>

		<div class="copyright">
		<div class="container">
        <div class="col-md-12">
                        <div class="text-center">
                            <p>2024 &copy; All Rights Reserved. <a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Service</a></p>
                        </div>
                        <div class="social-links">
                            <ul class="footer-socials">
                                <li><a href="http://www.facebook.com"><img src="img/facebook.jpg" alt="Facebook"></a></li>
                                <li><a href="http://www.skype.com"><img src="img/skype.jpg" alt="Skype"></a></li>
                                <li><a href="http://www.linkedin.com"><img src="img/linkdin.jpg" alt="Linkedin"></a></li>
                                <li><a href="http://www.twitter.com"><img src="img/twitter.jpg" alt="Twitter"></a></li>
                                <li><a href="http://www.instagram.com"><img src="img/instagram.jpg" alt="instagram"></a></li>
                            </ul>
                        </div>
                    </div>
		</div>
		<!-- End Social Links -->

		<!-- Your JavaScript code here -->
<script>
    // Function to open social media links in a new tab when clicked
    document.addEventListener("DOMContentLoaded", function() {
        var socialLinks = document.querySelectorAll('.footer-socials a');
        socialLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent default behavior of link click
                var url = this.href;
                window.open(url, '_blank'); // Open link in a new tab
            });
        });
    });
</script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
