<!DOCTYPE html>
<html> 
<head>
<title> Unity Hospital | Gallery </title>

		<!-- Web Fonts -->
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

		<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
		{{!-- <link rel="stylesheet" href="css/style.css"> --}}

		<!-- CSS Header and Footer -->
		<link rel="stylesheet" href="css/header.css">
		{{!-- <link rel="stylesheet" href="css/footer.css"> --}}
		<link rel="stylesheet" href="css/social_style.css">
		<link rel="stylesheet" href="css/about.css">
		
 

		<!-- CSS Customization -->
		<link rel="stylesheet" href="css/custom.css">
		<style>/* Custom Styles for Gallery Section */
#grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 20px; /* Gap between grid items */
}

.cbp-item {
    margin-bottom: 40px;
}

.cbp-caption {
    position: relative;
    overflow: hidden;
}

.cbp-caption-defaultWrap {
    border-radius: 5px;
}

.cbp-caption img {
    width: 100%;
    height: auto;
}

.cbp-title-dark {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.cbp-title-dark .cbp-l-grid-agency-title {
    margin: 0;
}

.cbp-item:hover .cbp-title-dark {
    opacity: 1;
}

/* End of Custom Styles for Gallery Section */

</style>

</head>

<body>
		   <!-- Header -->
    <div class="wrapper">
        <div class="header-v1">
            <!-- Topbar -->
            <div class="topbar-v1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-inline top-v1-contacts">
                                <li><i class="fa fa-envelope"></i> Email: unityhospital@gmail.com</li>
                                <li><i class="fa fa-phone"></i> Contact no : 630 025 1986</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Topbar -->

            
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="img/logo/unity_white.jpg" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/doctors">DOCTORS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">GALLERY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">BLOGS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">CONTACT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registration">REGISTRATION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="appointment">BOOK APPOINTMENT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
        </div>
    </div>
    <!-- End Header -->

				<!-- Image title -->

				<div style="text-align: center; margin-top: 50px;">
				<h2>GALLERY</h2>
				</div>
				<!-- End title  -->

				<!--=== Cube-Portfdlio ===-->
				<div class="cube-portfolio container" style="margin-top: 100px; margin-bottom: 60px;">


				<div id="grid-container" class="cbp-l-grid-agency">

				<!-- Image -->
				<div class="cbp-item graphic">
				<div class="cbp-caption " style="margin-bottom: 20px;">
				<div class="cbp-caption-defaultWrap">
				<a href="img/gallery/room1.jpg" class="cbp-lightbox" data-title="Rooms for patients"><img src="img/gallery/room1.jpg" alt="" ></a>
				</div>
				</div>
				<div class="cbp-title-dark">
				<div class="cbp-l-grid-agency-title">Rooms for patients</div>
				</div>
				</div>
				<!-- end image-->

				<!-- Image -->
				<div class="cbp-item graphic">
				<div class="cbp-caption " style="margin-bottom: 20px;">
				<div class="cbp-caption-defaultWrap">
				<a href="img/gallery/opd.jpg" class="cbp-lightbox" data-title="OPD Area"><img src="img/gallery/opd.jpg" alt="" ></a>
				</div>
				</div>
				<div class="cbp-title-dark">
				<div class="cbp-l-grid-agency-title">OPD Area</div>
				</div>
				</div>
				<!-- end image-->

				<!-- Image -->
				<div class="cbp-item graphic">
				<div class="cbp-caption " style="margin-bottom: 20px;">
				<div class="cbp-caption-defaultWrap">
				<a href="img/gallery/opd2.jpg" class="cbp-lightbox" data-title="OPD Area 2"><img src="img/gallery/opd2.jpg" alt="" ></a>
				</div>
				</div>
				<div class="cbp-title-dark">
				<div class="cbp-l-grid-agency-title">Opd area</div>
				</div>
				</div>
				<!-- end image-->

				<!-- Image -->
				<div class="cbp-item graphic">
				<div class="cbp-caption " style="margin-bottom: 20px;">
				<div class="cbp-caption-defaultWrap">
				<a href="img/gallery/parking.jpg" class="cbp-lightbox" data-title="Parking Area"><img src="img/gallery/parking.jpg" alt="" ></a>
				</div>
				</div>
				<div class="cbp-title-dark">
				<div class="cbp-l-grid-agency-title">Parking area</div>
				</div>
				</div>
				<!-- end image-->


				<!-- Image -->
				<div class="cbp-item graphic">
				<div class="cbp-caption " style="margin-bottom: 20px;">
				<div class="cbp-caption-defaultWrap">
				<a href="img/gallery/reception.jpg" class="cbp-lightbox" data-title="Reception"><img src="img/gallery/reception.jpg" alt="" ></a>
				</div>
				</div>
				<div class="cbp-title-dark">
				<div class="cbp-l-grid-agency-title">Reception</div>
				</div>
				</div>
				<!-- end image-->

				<!-- Image -->
				<div class="cbp-item graphic">
				<div class="cbp-caption " style="margin-bottom: 20px;">
				<div class="cbp-caption-defaultWrap">
				<a href="img/gallery/cath_lab.jpg" class="cbp-lightbox" data-title="Cath laboratory"><img src="img/gallery/cath_lab.jpg" alt="" ></a>
				</div>
				</div>
				<div class="cbp-title-dark">
				<div class="cbp-l-grid-agency-title">cath laboratory</div>
				</div>
				</div>
				<!-- end image-->

				<!-- Image -->
				<div class="cbp-item graphic">
				<div class="cbp-caption " style="margin-bottom: 20px;">
				<div class="cbp-caption-defaultWrap">
				<a href="img/gallery/platinum_wing.jpg" class="cbp-lightbox" data-title="Platinum Wing"><img src="img/gallery/platinum_wing.jpg" alt="" ></a>
				</div>
				</div>
				<div class="cbp-title-dark">
				<div class="cbp-l-grid-agency-title">platinum wing</div>
				</div>
				</div>
				<!-- end image-->

				<!-- Image -->
				<div class="cbp-item graphic">
				<div class="cbp-caption " style="margin-bottom: 20px;">
				<div class="cbp-caption-defaultWrap">
				<a href="img/gallery/Hospital.jpg" class="cbp-lightbox" data-title="Hospital"><img src="img/gallery/Hospital.jpg" alt="" ></a>
				</div>
				</div>
				<div class="cbp-title-dark">
				<div class="cbp-l-grid-agency-title">Hospital</div>
				</div>
				</div>
				<!-- end image-->

				</div><!--/end Grid Container-->
				</div>
				<script>// JavaScript for Lightbox Effect
$(document).ready(function() {
    $('.cbp-lightbox').magnificPopup({
        type: 'image',
        gallery: {
            enabled: true
        }
    });
});
</script>
				<!--=== End Cube-Portfdlio ===-->
<!-- Footer -->
    <footer class="footer-v1">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="/">
                        <img id="logo-footer" class="footer-logo" src="img/logo/unity_white.jpg" alt=""/>
                    </a>
                    <p>At Unity Hospital, we are convinced that 'quality' and 'lowest cost' are not mutually exclusive when it comes to healthcare delivery.</p>
                    <p>Our mission is to deliver high quality, affordable healthcare services to the broader population in India.</p>
                </div>
                <div class="col-md-3">
                    <div class="posts">
                        <div class="headline"><h2>Latest Posts</h2></div>
                        <ul class="list-unstyled latest-list">
                            <li><a href="/blog">Incredible content</a><small>December 16, 2020</small></li>
                            <li><a href="/gallery">Latest Images</a><small>December 16, 2020</small></li>
                            <li><a href="/terms">Terms and Conditions</a><small>December 16, 2020</small></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="headline"><h2>Useful Links</h2></div>
                    <ul class="list-unstyled link-list">
                        <li><a href="/about">About us</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/contact">Contact us</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/appointment">Book Appointment</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="headline"><h2>Contact Us</h2></div>
                    <address class="md-margin-bottom-40">
                        Unity Hospital <br />
                        Ahmedabad, IN <br />
                        Phone: 886 666 00555 <br />
                        Email: unityhospital@gmail.com 
                    </address>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!--/footer-->

		<div class="copyright">
		<div class="container">
        <div class="col-md-12">
                        <div class="text-center">
                            <p>2024 &copy; All Rights Reserved. <a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Service</a></p>
                        </div>
                        <div class="social-links">
                            <ul class="footer-socials">
                                <li><a href="http://www.facebook.com"><img src="img/facebook.jpg" alt="Facebook"></a></li>
                                <li><a href="http://www.skype.com"><img src="img/skype.jpg" alt="Skype"></a></li>
                                <li><a href="http://www.linkedin.com"><img src="img/linkdin.jpg" alt="Linkedin"></a></li>
                                <li><a href="http://www.twitter.com"><img src="img/twitter.jpg" alt="Twitter"></a></li>
                                <li><a href="http://www.instagram.com"><img src="img/instagram.jpg" alt="instagram"></a></li>
                            </ul>
                        </div>
                    </div>
		</div>
		<!-- End Social Links -->

		<!-- Your JavaScript code here -->
<script>
    // Function to open social media links in a new tab when clicked
    document.addEventListener("DOMContentLoaded", function() {
        var socialLinks = document.querySelectorAll('.footer-socials a');
        socialLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent default behavior of link click
                var url = this.href;
                window.open(url, '_blank'); // Open link in a new tab
            });
        });
    });
</script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
